body {
  padding-top: 50px;
}
.navbar > .container .navbar-brand {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/logo-v5.png') no-repeat;
  background-image: url('../images/logo-v5.svg'), none;
  background-size: contain;
  width: 200px;
  height: 28px;
  margin: 11px 20px 0 15px;
  padding: 0;
}
a.navbar-brand:hover {
  opacity: 0.7;
}
.jumbotron {
  background: #040506 url('../images/Blu-Ray-Background-Image-2.jpg') no-repeat bottom center;
  color: #fff;
  min-height: 450px;
  margin-bottom: 0;
/*  padding-bottom: 100px;*/
}
.jumbotron .btn {
  margin-top: 15px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
section:nth-of-type(3n+1) {
  background-color: #eee;   
}
section:nth-of-type(3n) {
  background-color: #4C5679; /* #e67d25 #4C5679; #36426B */
  color: #fff;
  letter-spacing: 0.02em;
}
section:nth-of-type(3n) a {
  color: #acdbe4;
}
/*section:nth-of-type(4n) a {
  color: #acdbe4;
}
*/
section:last-of-type {
/*  min-height: 100vh; */
}
footer {
  color: #888;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e7e7e7;
  min-height: 60px;
  text-align: center;
}
footer a {
  color: #777;
}
footer a:hover {
  color: #333;
}
footer ul>li a:hover i {
/*  opacity: 0.7;*/
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul>li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
footer ul>li:first-child {
  padding-left: 0;
}
footer ul>li:last-child {
  padding-right: 0;
}

/* This gets Google to fall into place */
.social {
	font-size: 1px;
  padding: 0;
  line-height: 40px;
}

/* This gets Facebook to fall into place */
.social iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 180px;
}
.social .twitter {
  width: 110px;
}
.social .twitter-follow {
  width: 150px;
}
.social .facebook {
  width: 90px;
}
/* Adjust the widths individually if you like */
.social .google {
	width: 75px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0px;
  }
}
.coverthumb {
  margin-right: 10px;
  line-height: 130px;
}
.cover img {
  width: 100%;
}
#covers {
  min-height: 600px;
}
.covers {
  text-align: center;
}
a.anchor {
  display: block;
  position: relative;
  top: -51px;
  visibility: hidden;
}
.jumbotron .btn {
  margin-top: 15px;
}
.jumbotron a.btn-default {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 26px;
  font-weight: 200;
  background: inherit;
  color: #fff;
}
.jumbotron a.btn-default:hover {
  color: #222;
  background-color: #fff;
  opacity: 0.7;
  border-color: #222;
}

/* album page */

#album iframe {
  margin-bottom: 20px;
}
#album .price {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
#album .nameyourprice {
  vertical-align: middle;
  margin-left: 20px;
}

#album div.download-links {
  margin-top: 20px;
  margin-bottom: 20px;
}
#album h4.formats {
  border-bottom: 1px solid #eee;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 6px;
}
#album div > h4.formats:first-child  {
  border-top: none;
  margin-top: inherit;
  padding-top: 0;
}

#album .coverthumb img {
/*    filter: url(/images/filters.svg#grayscale); /* Firefox 3.5+ */
/*    filter: gray; /* IE6-9 */
  /*  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+  */
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#album .coverthumb img:hover, .thumb.selected img {
/*    filter: none;
    -webkit-filter: grayscale(0);
*/    opacity: 1;
}

.table tbody>tr>td.valign
{
    vertical-align: middle;
}

/* Pricing */
.pricing{
  margin: 18px 0;
  border: 0;
  }

.pricehover{
  text-align: center;
}
.pricehover:hover{
-webkit-transform:scale(1.02); 
box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
-moz-transform: scale(1.02);
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
/*cursor: pointer;*/
background: #fff;
}

.pricehover.featured{
-webkit-transform:scale(1.15); 
box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
-moz-transform: scale(1.15);
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
cursor: pointer;
background: #fff;
}
.pricehover:hover .price{background:#00CC00; border-color: #00CC00;}
.pricehover .price{
 background-color: #333;
 border: 3px solid #333;
 height: 100px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 100px;
 margin:0 auto;
}
.pricehover .price.featuredprice{
 background-color: #00CC00;
 border: 3px solid #00CC00;
 height: 100px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 100px;
 margin:0 auto;
}

.pricehover .price h4{
  text-align: center; line-height: 100px; color: #fff;
}

ul.pricing li{
  margin: 18px 10px;
  padding-bottom:10px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  }
  
.col-sm-7 > h2:first-child {
  margin-top: 0;
}