body {
  padding-top: 50px;
}
.navbar > .container .navbar-brand {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/logo-v5.svg') no-repeat;
  background-size: contain;
  background-repeat: none;
  width: 300px;
  height: 28px;
  margin: 11px 20px 0 15px;
  padding: 0;
*/}
a.navbar-brand:hover {
  opacity: 0.7;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .navbar > .container .navbar-brand {
/*    background: url('../images/logo-v3-gray-35h@2x.png') no-repeat;
    background-image: url('../images/logo-v3-gray-35h.svg');
    background-size: contain;
*/  }
}
.jumbotron {
  background: #040506 url('../images/Blu-Ray-Background-Image-2.jpg?v1') no-repeat bottom center;
  color: #fff;
  min-height: 450px;
  margin-bottom: 0;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
section:nth-of-type(3n+2) {
  background-color: #eee;   
}
section:nth-of-type(3n) {
  background-color: #406E74; /* #e67d25 #4C5679; #36426B */
  color: #fff;
  letter-spacing: 0.02em;
}
section:nth-of-type(3n) a {
  color: #acdbe4;
}
section:last-of-type {
/*  min-height: 100vh; */
}

footer {
  color: #888;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e7e7e7;
  min-height: 60px;
  text-align: center;
}
footer a {
  color: #777;
}
footer a:hover {
  color: #333;
}
footer ul>li a:hover i {
/*  opacity: 0.7;*/
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul>li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
footer ul>li:first-child {
  padding-left: 0;
}
footer ul>li:last-child {
  padding-right: 0;
}

/* This gets Google to fall into place */
.social {
	font-size: 1px;
  padding: 0;
  line-height: 40px;
}

/* This gets Facebook to fall into place */
.social iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 180px;
}
.social .twitter {
  width: 110px;
}
.social .twitter-follow {
  width: 150px;
}
.social .facebook {
  width: 90px;
}
/* Adjust the widths individually if you like */
.social .google {
	width: 75px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0px;
  }
}
.cover img {
/*  max-width: 150px;*/
}
.covers {
  max-width: 940px;
}
a.anchor {
  display: block;
  position: relative;
  top: -51px;
  visibility: hidden;
}
