---
layout: bootstrap
---
<div class="container release">
  <h1 class="page-header">{{ page.title }} <small>by {{ page.artist }}</small></h1>
  <div class="row">
    <div class="col-md-4">
      <p class="cover">
        <a href="{{ page.full_art_url }}" data-toggle="modal" data-target="#coverModal">
          <img src="{{ page.large_art_url}}" class="img-thumbnail img-responsive">
        </a>
      </p>
      <div class="credits">
        {{ content }}
      </div>
    </div>

    <div class="col-md-4">
      <iframe style="border: 0; width: 100%; min-height: 300px; height: 600px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.album_id }}/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless>
        <a href="{{ page.bc_url }}">{{ page.title }} by {{ page.artist }}</a>
      </iframe>                
    </div>
    
    <div class="col-md-4">
      <p>
        <a href="{{ page.bc_url }}?action=buy" class="btn btn-primary btn-lg" role="button">Buy now</a> <span class="nameyourprice text-muted"> Name your price from $0</span> 
      </p>
      <p>
        Immediate download in the high-quality format of your choice (MP3, FLAC, and more). Paying supporters also get unlimited mobile access using the free listening app.
      </p>
      
      {% if page.stores %}
      <h4 id="formats">Also available on:</h4>

      <div class="row download-links download-stores">
        <div class="col-sm-6">
          <span class="label label-default">Digital</span>     
        </div>
        <div class="col-sm-6">
          <ul class="list-unstyled">
          {% for store_hash in page.stores %}
            {% for store in store_hash %}          
              <li><a href="{{ store[1] }}">{{ store[0] }}</a></li>
            {% endfor %}
          {% endfor %}
            <li>and many more</li>        
          </ul>
        </div>
      </div>
      {% endif %}

      {% if page.sellfy_url %}
      <div class="row download-links" id="sellfy">
        <div class="col-sm-6">
          <p><span class="label label-default">Digital</span>&nbsp;<span class="label label-info">5.1</span></p>
          <p>Download 5.1 surround high definition audio files, 24 bit FLAC. Includes PDF booklet.</p>
          <a href="https://sellfy.com/p/YxLh/" id="YxLh" class="<!-- sellfy-buy-button --> btn btn-default" role="button">Buy</a>
          <span class="price">$15</span>
          <script type="text/javascript" src="https://sellfy.com/js/api_buttons.js"></script>
        </div>
        <div class="col-sm-6">
          <a href="https://sellfy.com/p/YxLh/"><img src="/images/{{page.album_id}}.jpg" class="img-thumbnail" alt="5.1 download"></a>
        </div>
      </div>
      {% endif %}

      {% if page.cd_id %}
      <div class="row download-links">
        <div class="col-sm-6">
          <p><span class="label label-default">CD</span></p>
          <p>Audio CD</p>
          <p>
            <a href="http://kunaki.com/Sales.asp?PID={{ page.cd_id }}" class="btn btn-default" role="button">Buy</a>
            <span class="price">$15</span>
          </p>
        </div>
        <div class="col-sm-6">
          <a href="http://kunaki.com/Sales.asp?PID={{ page.cd_id }}"><img src="http://kunaki.com/boxshots/{{page.cd_id}}.jpg" class="img-thumbnail"></a>
        </div>
      </div>
      {% endif %}

      {% if page.dvd_id %}      
      <div class="row download-links">
        <div class="col-sm-6">
          <p><span class="label label-default">DVD</span>&nbsp;<span class="label label-info">5.1</span></p>
          <p>Surround Music DVD, triple format: DVD-Audio, DVD-Video (Dolby Digital) &amp; DVD-ROM (FLAC).</p>
          <p>
            <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_id }}" class="btn btn-default">Buy</a>
            <span class="price">$20</span>
          </p>
        </div>
        <div class="col-sm-6">
          <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_id }}"><img src="http://kunaki.com/boxshots/{{page.dvd_id}}.jpg" class="img-thumbnail"></a>
        </div>
      </div>
      {% endif %}

      {% if page.dvd_pal_id %}            
      <div class="row download-links">
        <div class="col-sm-6">
          <p><span class="label label-default">DVD</span>&nbsp;<span class="label label-info">5.1</span>&nbsp;<span class="label label-default">PAL</span></p>
          <p>Triple format surround Music DVD in PAL for Europe, Japan and other countries.</p>
          <p>
            <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_pal_id }}" class="btn btn-default">Buy</a>
            <span class="price">$20</span>
          </p>
        </div>
        <div class="col-sm-6">
          <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_pal_id }}"><img src="http://kunaki.com/boxshots/{{page.dvd_pal_id}}.jpg" class="img-thumbnail"></a>
        </div>
      </div>
      {% endif %}

      {% if page.bd_id %}                  
      <div class="row">
        <div class="col-sm-6">
          <p><span class="label label-default">Blu-ray</span>&nbsp;<span class="label label-info">5.1</span></p>
          <p>Surround Music Blu-ray. DTS-HD MA high definition audio. Includes all audio as FLAC files.</p>
          <p>
            <a href="http://kunaki.com/Sales.asp?PID={{ page.bd_id }}" class="btn btn-default">Buy</a>
            <span class="price">$30</span>
          </p>
        </div>
        <div class="col-sm-6">
          <a href="http://kunaki.com/Sales.asp?PID={{ page.bd_id }}"><img src="http://kunaki.com/boxshots/{{page.bd_id}}.jpg" class="img-thumbnail"></a>
        </div>
      </div>
      {% endif %}
      
    </div>  
  </div>
</div>

<!-- Modal Image -->
<div class="modal fade" id="coverModal" tabindex="-1" role="dialog" aria-labelledby="AlbumCover" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ page.title }}</h4>
      </div>
      <div class="modal-body">
        <img src="{{ page.full_art_url}}" class="img-responsive">
      </div>
    </div>
  </div>
</div>