---
layout: bootstrap
---
<div class="container release">
  <h1 class="page-header">{{ page.title }} <small>by {{ page.artist }}</small></h1>
  <div class="row">
    <div class="col-md-4">
      <p class="cover">
        <a href="{{ page.full_art_url }}" data-toggle="modal" data-target="#coverModal">
          <img src="{{ page.large_art_url}}" class="img-thumbnail img-responsive">
        </a>
      </p>
      <div class="links">
        <p>
        Immediate download in the high-quality format of your choice (MP3, FLAC, and more). Name your price, no minimum. Paying supporters also get unlimited mobile access using the free listening app.</p>
        <p>
          <a href="{{ page.bc_url }}?action=buy" class="btn btn-primary btn-lg" role="button">Download now</a><span class="text-muted"> from </span><span class="price">$0</span>        
        </p>
        <p>
          Also available:
        </p>
        <p class="download-links">
          <span class="label label-default">Digital</span>&nbsp;
          {% if page.itunes_url %}<a href="{{ page.itunes_url }}">{% endif %}iTunes{% if page.itunes_url %}</a>{% endif %} | 
          {% if page.amazon_url %}<a href="{{ page.amazon_url }}">{% endif %}Amazon{% if page.amazon_url %}</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=labelzerocom-20&l=as2&o=1&a=B00IRXCD9I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />{% endif %} and many others
        </p>
        <div class="row">
          <div class="col-sm-6">
  	        <div class="physical-link">
              <p><span class="label label-default">CD</span></p>
              <p><a href="http://kunaki.com/Sales.asp?PID={{ page.cd_id }}"><img src="http://kunaki.com/boxshots/{{page.cd_id}}.jpg" class="img-thumbnail"></a></p>
              <p><span class="price">$15</span> <a href="http://kunaki.com/Sales.asp?PID={{ page.cd_id }}" class="btn btn-default">Buy CD</a></p>
            </div>
          </div>
          <div class="col-sm-6">
  	        <div class="physical-link">
              <p><span class="label label-default">DVD</span></p>
              <p><a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_id }}"><img src="http://kunaki.com/boxshots/{{page.dvd_id}}.jpg" class="img-thumbnail"></a></p>
              <p><span class="price">$20</span> <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_id }}" class="btn btn-default">Buy DVD</a></p>
            </div>
          </div>
          <div class="col-sm-6">
  	        <div class="physical-link">
              <p><span class="label label-default">DVD PAL</span></p>
              <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_pal_id }}"><img src="http://kunaki.com/boxshots/{{page.dvd_pal_id}}.jpg" class="img-thumbnail"></a>
              <p><span class="price">$20</span> <a href="http://kunaki.com/Sales.asp?PID={{ page.dvd_pal_id }}" class="btn btn-default">Buy DVD</a></p>
            </div>
          </div>
          <div class="col-sm-6">
  	        <div class="physical-link">
              <p><span class="label label-default">Blu-ray</span></p>
              <a href="http://kunaki.com/Sales.asp?PID={{ page.bd_id }}"><img src="http://kunaki.com/boxshots/{{page.bd_id}}.jpg" class="img-thumbnail"></a>
            </div>
          </div>
        </div>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <iframe style="border: 0; width: 100%; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.album_id }}/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless>
        <a href="{{ page.bc_url }}">{{ page.title }} by {{ page.artist }}</a>
      </iframe>                
    </div>
    
    <div class="col-md-4">
      <div class="credits">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<!-- Modal Image -->
<div class="modal fade" id="coverModal" tabindex="-1" role="dialog" aria-labelledby="AlbumCover" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ page.title }}</h4>
      </div>
      <div class="modal-body">
        <img src="{{ page.full_art_url}}" class="img-responsive">
      </div>
    </div>
  </div>
</div>